:root{
    --highlight:  #d49c6b;
    --base:  #f6fafb;
    --background: #252b31;
}

@font-face {
    font-family: 'Kosugi';
    src: url("./resources/fonts/Kosugi-Regular.ttf");
}

* {
    font-family: 'Kosugi', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
}

#root {
    background-color: var(--background);
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.w-full {
    width: 80%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.white-container {
    margin: 2rem;
    padding: 2rem;

    background-color: var(--base);
}

.container-row {
    width: 100%;

    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.type-2-btn {
    justify-self: end;
    margin: 2rem;
    margin-top: auto;
    padding: 1rem;
    background-color: var(--base);
    font-size: 1.4rem;
    border-bottom: 3px solid var(--highlight);
    transition: 0.3s border-width ease;
}

.type-2-btn:hover, .type-2-btn:focus {
    
    cursor: pointer;
    border: 3px solid var(--highlight);
}